#why-it-works {
    position: relative;
    height: 50vh;
    margin-top: 25%;
}

.parallax-bg {
    position: absolute;
    background-image: url(assets/why-it-works.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0; /* Initial top position */
    transition: top .5s ease; /* Adjust the duration to control the speed of the parallax effect */
}

.content {
    top: -25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: top .25s ease, z-index 1s ease, opacity .75s ease, color .5s ease;
    color: white;
    
}
.content h1{
    font-size: 2.5rem;
    margin-bottom: 9px;
    letter-spacing: 3px;
    transition: letter-spacing 3s ease;
}
.content h3{
    font-size: 1.5rem;
    letter-spacing: 0px;
    transition: letter-spacing 1.5s ease;
}

.content.active {
    opacity: 1;
    top: 0;
    z-index: 1;
}
.content.active h1{
    letter-spacing: 0;
}
.content.active h3{
    letter-spacing: 2px;
}

    .parallax-bg.active {
    top: -50%; /* Adjust the value to control the parallax effect speed when .content.active */
}

@media (max-width: 500px){
    #why-it-works{
        top: 120px;
    }
    .content h1{
        text-align: center;
        margin-top: 0;
        font-size: 2rem;
        letter-spacing: 1px;
        color: black;
    }
    .content h3{
        text-align: center;
    }
    .content.active h3{
        letter-spacing: 0;
        color: black;
    }
}